Ejercicios/Ejercicio1/terraform.tfvars
Ejercicios/Ejercicio1/terraform.tfstate
Ejercicios/Ejercicio1/terraform.tfstate.backup
Ejercicios/Ejercicio1/.terraform
Ejercicios/Ejercicio1/.terraform.lock.hcl
